<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    Cierre Curso
  </a>
</nav>

<div class="row mt-10">

  <div class="col-4 mt-10" *ngFor="let item of posts" >

    <div class="card ms-2" >
      <h5 class="card-header">Publicaciones</h5>
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">{{item.body}} </p>

        <a [routerLink]="['/detail',item.id]"  class="btn btn-primary">Ver mas </a>

      </div>
    </div>
  </div>

</div>
