<div class="container caja">

  <div class="card" style="width: 70vw; height: 50vh;"  *ngIf="user">
    <div class="card-header" >
      <h1>

        Publicación
      </h1>
      <h4>
        {{user.id}}
      </h4>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> <h3>Título </h3> "{{user.title}}"</li>
      <li class="list-group-item"><h3>Descripción </h3> {{user.body}}</li>
    </ul>
    <a [routerLink]="['/']"  class="btn btn-primary mt-5">Regresar</a>
  </div>

</div>
